//! **************************************************************************
// Written by: Map M.70d on Tue Nov 01 12:52:08 2016
//! **************************************************************************

SCHEMATIC START;
COMP "vga_color<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "vga_color<1>" LOCATE = SITE "B8" LEVEL 1;
COMP "topCLK" LOCATE = SITE "E12" LEVEL 1;
COMP "vga_color<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "vga_color<3>" LOCATE = SITE "A3" LEVEL 1;
COMP "vga_color<4>" LOCATE = SITE "D6" LEVEL 1;
COMP "vga_color<5>" LOCATE = SITE "C6" LEVEL 1;
COMP "vga_color<6>" LOCATE = SITE "D5" LEVEL 1;
COMP "vga_color<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "vga_color<8>" LOCATE = SITE "C9" LEVEL 1;
COMP "uart_rxTop" LOCATE = SITE "E16" LEVEL 1;
COMP "vga_color<9>" LOCATE = SITE "B9" LEVEL 1;
COMP "rxOutLED<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "rxOutLED<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "rxOutLED<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "vga_color<10>" LOCATE = SITE "D7" LEVEL 1;
COMP "rxOutLED<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "hsync" LOCATE = SITE "C11" LEVEL 1;
COMP "vga_color<11>" LOCATE = SITE "C7" LEVEL 1;
COMP "rxOutLED<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "rxOutLED<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "rxOutLED<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "rxOutLED<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "vsync" LOCATE = SITE "B11" LEVEL 1;
SCHEMATIC END;

